<div class="auth-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Login</h1>
                <p class="text-xs-center">
                    <a [routerLink]="'/signup'">Don't have an account? Please sign up</a>
                </p>
                <form [formGroup]="loginForm" (ngSubmit)="submit()">
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Password" formControlName="password">
                    </fieldset>
                    <button 
                    class="btn btn-lg btn-primary pull-xs-right" 
                    type="submit"
                    [disabled]="!loginForm.valid">
                        Login
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>